/* Main color #212121 */
/* secondary color #757575 */
/* link #2196F3 */
/* white #FFFFFF */
/* button #F5F4FA */
/* button text #212121 */
/* colorbackground hero #2F303A */
/* background color  page #F5F5F5 */
/* card #EEEEE*/
/* footer link rgba(255, 255, 255, 0.6); */
/* buttone focus rgba(33, 150, 243, 1) */
/* underline border #ECECEC; */
/* Body */

:root {
    --primary-text-color:#757575;
    --tittle-text-color:#212121;
    --accent-color:#2196F3;
    --white-color: #ffffff;
    --button-backgroung:#F5F4FA;
    --button-text: #212121;
    --background-hero: #2F303A;
    --background-page:#F5F5F5;
    --portfolio-card: #EEEEEE;
    --total-black:#000000;
    --footer-link:rgba(255, 255, 255, 0.6);
    --underline-border:#ECECEC;
    --button-active: #188CE8;
}
/* ----------Body---------- */
body {
background-color:var(--white-color);
color: var(--primary-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.7;
/* font-weight: 400px; */
}

.conteiner{
    /* border: 1px solid tomato; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}

/* Прибрати крапки у списках */
.lists {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}
/* Прибрати підкреслення */
a{
    text-decoration: none;
}
/* Прибати відступи для img*/
.img{
    display: block;
    width: 100%;
    height: auto;
}
.tittle-hidden{
    position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
     outline: 0;
     outline-offset: 0;
}
/* ----------Header---------- */
.header{
    border-bottom: 1px solid var(--underline-border);
    /* padding-left: 0 auto; */

}
/* ----------Logo----------*/
.logo-header{
  display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
     line-height:1.8;
     color: var(--total-black);

}
.logo-accent{
    color: var(--accent-color);
}
/* ----------Site nav---------- */
.nav{
 display: flex;
 align-items: center;   
}
.main-nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .list{
    padding: 0px;



}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--button-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    
}
    .site-nav .link:hover,
    .site-nav .link:focus,
        .site-nav .link:active
     {
        color: var(--accent-color);
    }
      .contacts-lists{
        display: flex;
        margin-left: auto;

      }
      .contacts-lists .item + .item{
        margin-left: 50px;
      }
         .contacts-lists .link {
            /* display: flex;
             */
          color: var(--primary-text-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.17;
            /* display: inline-block; */
    }
    .contacts-lists .link:focus,
    .contacts-lists .link:hover,
    .contacts-lists .link:active
    {
        color: var(--accent-color);
    }
   
        /* ----------Button----------*/
        .button {
            border-radius: 4px;
            border: none;
            display: inline-block;
            padding: 10px 32px;
            min-width: 216px;
            font-family: inherit;
            color: var(--white-color);
            cursor: pointer;
            background-color: var(--accent-color);
            align-items: center;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            

        }
            
        .button:hover,
        .button:focus{
            background-color: var(--button-active);
        }
    /* ----------Hero---------- */
    .hero {
        background-color: var(--background-hero);
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
            
    .hero-tittle {
        margin: auto;
        margin-bottom: 30px;
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px; 

    }
/* ----------Section tittle---------- */
.section-tittle {
    color: var(--tittle-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 50px;
           
}
/* ----------Features---------- */
.features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list .tittle {
    color: var(--tittle-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.7;  
        margin-top: 0;

}
.features-list{
    display: flex;
}
.features-list .item:not(:last-child){
    margin-right: 30px;
}

.features-list .text {
    margin-top: 10px;
}
/* Tasks */
 .task{
    padding-top: 0;
    padding-bottom: 94px;

}
.task-list{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 1.17;
}

.task-list .img:not(:last-child){
    margin-right: 30px;
}
.img{
    display: block;
    width: 100%;
    height: auto;
}
/* Team */


.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-backgroung);

}

.team-section .section-tittle{
  
}
 
.team-list .tittle {
    color: var(--tittle-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
    text-align: center;
}
.team-list{
display: flex;
flex-wrap: wrap;
}
.team-list .team-card:not(:last-child){
    margin-right: 30px;
}

.team-card{
width: 270px;
 box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
 border-radius: 0px 0px 4px 4px;
 background-color: var(--white-color);
 text-align: center;
 

}
.team-list .name {
    margin-bottom: 10px;
 text-align: center;
 color: var(--tittle-text-color);
 font-weight: 500;
  font-size: 16px;
 line-height:1.17 ;

}
.team-text{
 padding: 30px 32px;

}
.team-list .text{
    font-size: 16px;
    line-height: 1.17;

    
}
.team-card .img{
    display: block;
   
}
/* Footer */
.logo-footer{
    display: inline-block;
     margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.8;
        color: var(--white-color);
}
.footer {
        padding-top: 60px;
            padding-bottom: 60px;
    background-color: var(--background-hero);
}

.footer-list .link {
 
        font-size: 14px;
        line-height: 1.17;
        font-style: normal;
        color: var(--footer-link);
       
    
}
.footer-list .item:not(:last-child){
    margin-bottom: 9px;
}
.footer-list .address{
    color: var(--white-color);
    margin-bottom: 9px;
}
.footer-list .link:hover,
.footer-list .link:focus,
.footer-list .link:active {
    color: var(--white-color);
    
}

/* ----------------------Portfolio---------------------- */
.site-nav .active{
    color: var(--accent-color);
}
.portfolio-section{
    padding-top: 94px;
        padding-bottom: 94px;
}


.portfolio-nav{
    display: flex;
        justify-content: center;
        margin-bottom: 50px;
}
.portfolio-nav .item:not(:last-child){
    margin-right: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

}
.portfolio-list .link:hover,
.portfolio-list .link:focus,
.portfolio-list .link:active {
    color:var(--button-text);
    background-color: var(--accent-col);

}
.portfolio-nav .button{
 padding: 6px 22px;
 min-width: 73px;
    background-color: var(--button-backgroung);
    color: var(--button-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    
}
.portfolio-nav .button:focus,
.portfolio-nav .button:hover{
background-color: var(--accent-color);
color: var(--white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-list .card {
flex-basis: calc((100% - 3 * 30px) / 3);
margin: 10px;
background: var(--white-color);
}
.portfolio-list .card:hover,
.portfolio-list .card:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .tittle{
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--button-text);
}
.portfolio-list .text{
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
.line-portfol{
padding: 20px 24px;
border-left: 1px solid var(--portfolio-card);
border-bottom: 1px solid var(--portfolio-card);
border-right: 1px solid var(--portfolio-card);
}
.img-portfolio{
    display: block;
}
/*  */